page-signup {

  .background-blue{
    background: #6EA6D7;
  }

  .item{
    background-color: #6EA6D7;
  }

  .label[stacked]{
    color: white;
  }

  .text-input{
    color: white;
    border-color: white;
  }

  .submit-button{
    background: #6EA6D7;
    position: relative;
    height: 50px;
    width: 89%;
    margin-top: 40%;
    margin-left: 6%;
    border: 1px solid #ffffff;
  }
}
